<h4>Internal server error - refshing the page will make the error disapper</h4>
<ng-container *ngIf="error">
  <h5>Error: {{ error }}</h5>
  <p class="font-weight-bold">
    Note: if you are seen this then angular is probably not blame
  </p>
  <p>What to do next?</p>
  <ol>
    <li>
      Open chrome dev tools! Then check the failing request in the network tab
    </li>
    <li>Exmaine the request URL - what API endpoint are you requesting?</li>
    <li>
      Reproduce the problem in Postman - if you gat the same error Angular is
      not a problem
    </li>
  </ol>
  <p class="font-weight-bold">
    Following is the stack trace - the first few lines will tell you which line
    of code cause the issue in API
  </p>
  <code class="mt-5" style="background-color: whitesmoke">
    {{ error.details }}
  </code>
</ng-container>
